node_modules
.idea
.vscode
db-data
compose/.env
compose/*.env
tmp
dist
common/temp
*.log
qelos-*.tgz
*.lerna_backup
coverage
*k8s
*.tgz
Chart.lock
.DS_Store
.cloudfairy/libraries
.cloudfairy/*-data
.cloudfairy.build
apps/admin/components.d.ts
