html[data-dark-mode="true"] {
  .el-button.is-plain {
    color: var(--main-color);
    border-color: var(--main-color-light);

    &:hover {
      border-color: var(--main-color);
    }
  }

  .el-button:not([class*="el-button--"]) {
    color: var(--main-color);
  }

  .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link, .el-breadcrumb__inner .breadcrumb-icon {
    color: var(--negative-link);
  }
}