[dir="rtl"] {
  .el-checkbox {
  margin-inline: 0 30px;
  }

  .el-checkbox__label {
	padding-inline: 10px 0;
  }

  .el-message-box {
	text-align: right;
  }

  .el-message-box__headerbtn {
	inset-inline: auto 15px;
  }

  .el-message-box__message {
	padding-inline: 36px 12px;
  }

  .el-message-box__btns {
	text-align: left;
  }

  .el-button + .el-button {
	margin-inline: 10px 0;
  }

  .el-button [class*=el-icon] + span {
	margin-inline: 6px 0;
  }

  .el-switch__label--left {
    margin-inline-start: 0;
    margin-inline-end: 10px;
  }

  .el-switch__label--right {
    margin-inline-start: 10px;
    margin-inline-end: 0;
  }

  .el-menu {
    border-inline-end: 1px solid var(--el-menu-border-color);
    padding-inline-start: 0;
    padding-inline-end: auto;
  }

  .el-radio-button:first-child .el-radio-button__inner {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: var(--el-border-radius-base);
    border-end-end-radius: var(--el-border-radius-base);
  }

  .el-radio-button:last-child .el-radio-button__inner {
    border-start-start-radius: var(--el-border-radius-base);
    border-end-start-radius: var(--el-border-radius-base);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  .el-radio-button:first-child:last-child .el-radio-button__inner {
    border-radius: var(--el-border-radius-base);
  }
}
