[dir="rtl"] {
  .el-checkbox {
  margin-inline: 0 30px;
  }

  .el-checkbox__label {
	padding-inline: 10px 0;
  }

  .el-message-box {
	text-align: right;
  }

  .el-message-box__headerbtn {
	inset-inline: auto 15px;
  }

  .el-message-box__message {
	padding-inline: 36px 12px;
  }

  .el-message-box__btns {
	text-align: left;
  }

  .el-button + .el-button {
	margin-inline: 10px 0;
  }

  .el-button [class*=el-icon] + span {
	margin-inline: 6px 0;
  }

  .el-switch__label--left {
    margin-inline-start: 0;
    margin-inline-end: 10px;
  }

  .el-switch__label--right {
    margin-inline-start: 10px;
    margin-inline-end: 0;
  }
}
