input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
  background-color: var(--inputs-bg-color);
  color: var(--inputs-text-color);
}

.form-item-flex, .el-form-item {
  display: flex;
  flex-direction: column;

  .el-form-item__label {
    justify-content: flex-start;
    color: var(--text-color);
  }
}

.el-button {
  &.el-button--default {
    background-color: var(--negative-color);
    color: var(--main-color);
    border: 1px solid var(--border-color);
    transition: background-color ease-in-out 0.3s;

    &:hover {
      background-color: var(--secondary-color);
      color: white;
    }
  }

  &.el-button--primary {
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--border-color);

    &:hover {
      background-color: var(--main-color);
      opacity: 0.8;
      border: 1px solid var(--border-color);
    }
  }
}

.edit-header {
  display: flex;
  flex-direction: row;
  background-color: var(--body-bg);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;

  h2 {
    strong {
      color: var(--main-color);

      &:before {
        content: ': ';
        color: black;
      }
    }
  }

  .buttons-group {
    padding: 0 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;

    a {
      margin: 0 5px;
      padding: 0 15px;
      line-height: 40px;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &.active, &:active {
        background-color: var(--negative-color);
        box-shadow: 2px 2px var(--border-color);
      }

      &:hover {
        color: var(--text-color);
        border: 0;
      }
    }
  }
}