:root {
  --body-bg: #f5f5f9;
  --main-color: #4fc370;
  --main-color-light: #d6eedd;
  --negative-color: #254044;
  --secondary-color: #0a7080;
  --text-color: #000;
  --third-color: #c6dccc;
  --link: var(--third-color);
  --negative-link: var(--secondary-color);
  --border-color: #eee;
  --inputs-text-color: #eee;
  --inputs-bg-color: #d6eedd;
  --nav-bg-color: #d6eedd;
  --el-menu-hover-bg-color: --main-color;
  --spacing: 10px;
}
