:root {
  --body-bg: #f5f5f9;
  --main-color: #4fc370;
  --main-color-light: #d6eedd;
  --negative-color: #254044;
  --secondary-color: #0a7080;
  --text-color: #000;
  --third-color: #c6dccc;
  --link: var(--third-color);
  --negative-link: var(--secondary-color);
  --border-color: #eee;
  --inputs-text-color: #eee;
  --inputs-bg-color: #d6eedd;
  --nav-bg-color: #d6eedd;
  --el-menu-hover-bg-color: var(--main-color);
  --spacing: 10px;
  --border-radius: 5px;
  --p-colorpicker-panel-background: #1e293b;
  --el-color-primary: var(--main-color);
  --base-font-size: 16px;
  --large-font-size: calc(var(--base-font-size) * 1.4);
  --el-text-color-placeholder: var(--main-color-light);
}

.el-input__wrapper {
  --el-input-bg-color: var(--inputs-bg-color);
}
.el-select__wrapper {
  --el-fill-color-blank: var(--inputs-bg-color);
}

.el-tabs {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.el-tabs__content {
  overflow: auto;
}

.el-statistic {
  --el-statistic-content-font-size: 300%;
}

.el-card {
  --el-card-border-radius: var(--border-radius);
}
.el-avatar > img {
  margin: 0;
}

.font-lg {
  font-size: var(--large-font-size);
}