html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 30px;
}

#my-builder .flex-row {
  display: flex;
  flex-direction: row;
}

#my-builder .flex-row>* {
  flex: 1;
}

#my-builder .blue {
  background-color: rgb(196, 210, 236);
}

#my-builder .green {
	background-color: green;
}

#my-builder .rounded {
	border-radius: 10px;
}
